.pallete-class {
  color: #46ff43;
  color: #a0eba7;
  color: #2b1066;
  color: #324aca;
  color: #ff33c0;
}

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500,700&display=swap");
